* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 60px;
  margin-left: 3%;
}

/* Block Cart-Bookings */
.flexline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-right1 {
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

#header-right1:hover {
  cursor: pointer;
}

#header-right2 {
  text-decoration: none;
  margin: 10px 20px;
  font-weight: bold;
}

#header-right2:hover {
  cursor: pointer;
}

#title {
  text-decoration: none;
  color: cadetblue;
  font-size: 140%;
  font-weight: bold;
  font-family: sans-serif;
}

#title:hover {
  cursor: pointer;
}

#container {
  background-image: url("./images/background.jpg");
  background-size: 100%;
  background-repeat: unset;
  height: 100vh;
  width: 100vw;
}

#explore {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
}

#compare {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  text-align: center;
  margin: 70px;
}

#blocks {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 750px;
}

#search:hover {
  background-color: rgb(70, 117, 118);
  cursor: pointer;
}

#searchblock {
  background-color: white;
  height: 350px;
  width: 300px;
  border-radius: 10px;
}

#resultblock {
  background-color: white;
  height: 350px;
  width: 300px;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#train {
  display: flex;
  justify-content: center;
  margin: 60px 0 0 100px;
  height: 90px;
  width: 100px;
}

.hidden {
  display: none;
}

#inputdeparture {
  padding-left: 15px;
}

#inputarrival {
  padding-left: 15px;
}

.inputsearch {
  border: 0cap;

  border-radius: 7px;
  height: 40px;
  width: 260px;
}

#calendarbutton {
  padding-left: 15px;
}

#search {
  border: 0cap;
  color: white;
  background-color: cadetblue;
  margin-top: 100px;
  border-radius: 7px;
  height: 40px;
  width: 260px;
}

#book {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 50%;
  border-color: cadetblue;
}

#trait {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 40px;
  height: 2px;
  width: 75%;
  background-color: cadetblue;
}

.whitesmoke {
  background-color: whitesmoke;
}

.white {
  background-color: white;
}

/* Page 2 */

#container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

#mycart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 200px;
  width: 1000px;
  border-radius: 10px;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#notickets {
  display: block;
  text-align: center;
}

#mycart2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: midnightblue;
  height: 60px;
  width: 1000px;
  border-radius: 0 0 10px 10px;
}

#my {
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 20px;
}

.cart_price_container {
  display: flex;
  flex-direction: row;
}

.totalprice {
  color: white;
  margin-left: 50px;
}

#purchase {
  margin-right: 50px;
  border: 0cap;
  color: white;
  background-color: cadetblue;
  border-radius: 7px;
  height: 40px;
  width: 90px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0cap;
  color: black;
  background-color: rgb(252, 247, 239);
  border-radius: 7px;
  height: 100px;
  width: 85%;
  margin: 0 10px 10px;
  padding-left: 10px;
}

.cart_flex_left {
  margin: 0 10px;
}

.cartDelete {
  margin-right: 10px;
  border: 0cap;
  color: white;
  background-color: cadetblue;
  border-radius: 7px;
  height: 30px;
  width: 30px;
}

.cartDelete:hover {
  cursor: pointer;
  background-color: rgb(70, 117, 118);
}

#purchase:hover {
  cursor: pointer;
  background-color: rgb(70, 117, 118);
}

/* Page 3 */

#mybook {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 250px;
  width: 1000px;
  border-radius: 10px;
}

#nobooks {
  display: block;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: row;
  border: 0cap;
  color: black;
  background-color: rgb(252, 247, 239);
  border-radius: 7px;
  height: 85px;
  width: 85%;
}

.book_flex_left {
  margin: 0 10px;
}

#trait_3 {
  height: 2px;
  width: 20%;
  background-color: cadetblue;
}

#enjoy {
  display: flex;
  color: cadetblue;
  margin: 15px;
}

/* Item */
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 90%;
  background-color: whitesmoke;
  margin-left: 20px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.book {
  border: 0cap;
  color: white;
  background-color: cadetblue;
  border-radius: 5px;
  height: 70%;
  width: 42px;
}

.book:hover {
  background-color: rgb(70, 117, 118);
  cursor: pointer;
}